
# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build

# Environment variables
.env*.local
.env
.env.local

# Git
.git
.gitignore

# Misc
*.log
.DS_Store
README.md
Dockerfile
docker-compose.yml
